[Unit]
Description=Restarts the cardano-node
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
User=YOUR_USERNAME
ExecStart=/opt/cardano/cnode/scripts/startCoreNode.sh

[Install]
WantedBy=multi-user.target
